<div class="row">
  <div class="col-md-6">
    <h1>Edit Metric</h1>
    <form method="POST" role="form">
      <div class="form-group">
        <input class="form-control floating-label" name="name" type="text" placeholder="Name" value="{{name}}" required></input>
      </div>
      <div id="expression-form-group" class="form-group">
        <textarea id="expression-input" class="form-control floating-label" name="expression" placeholder="Expression" rows="10">{{expression}}</textarea>
        <span id="expression-feedback" class="help-block"></span>
      </div>
      <input id="submitButton" type="submit" class="btn btn-primary" value="Save">
      <input type="submit" id="deleteButton" class="btn btn-danger" value="Delete">
    </form>
  </div>
  <div class="col-md-6">
    <h1>Event Viewer</h1>
    <p>List of events with random data that your application tracks.</p>
    <input id="event-filter" type="text" class="form-control col-lg-8" placeholder="Filter by event">

    {{#if events}}
    <div id="event-list">
    {{#each events}}
      <div id="{{event}}">
<pre><code class="language-javascript">{
  event: "{{event}}"

  timestamp: Date

  data: {
    {{#each data}}
    {{@key}}: "{{this}}"
    {{/each}}
  }
}</code></pre>
      </div>
    {{/each}}
    {{else}}
    <div class="alert">
      <p>You have not tracked any events yet.</p>
      <p>See <a href="developer">Developer</a> for how to get started tracking data.</p>
    </div>
    {{/if}}
    </div>
  </div>
</div>