<div class="row">
  <div class="col-md-2 dashboard-sidebar">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <ul class="nav nav-sidebar">
            <li>
              <strong>Metrics</strong>
              <ul>
                {{#each metrics}}
                <li>{{name}}</li>
                {{/each}}
              </ul>
            </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li>
              <strong>Events</strong>
              <ul>
                {{#each events}}
                <li>{{name}}</li>
                {{/each}}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 dashboard-content">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h1>{{appName}} <small>{{_id}}</small> <a href="applications/{{_id}}/metric/add" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a></h1>
        </div>
      </div>
    </div>

    {{!-- <div class="columns">
      {{#each metrics}}
        {{> metric}}
      {{/each}}
    </div> --}}
    <div class="row">
      <div class="visible-xs-block visible-sm-block">
        <div class="col-xs-6 col-sm-6">
          <div class="container-fluid">
            <div class="row">
              {{#each metrics}}
                {{#if-column-index 2 @index 0}}
                  {{> metric}}
                {{/if-column-index}}
              {{/each}}
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6">
          <div class="container-fluid">
            <div class="row">
              {{#each metrics}}
                {{#if-column-index 2 @index 1}}
                  {{> metric}}
                {{/if-column-index}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="visible-md-block visible-lg-block">
        <div class="col-md-4 col-lg-4">
          <div class="container-fluid">
            <div class="row">
              {{#each metrics}}
                {{#if-column-index 3 @index 0}}
                  {{> metric}}
                {{/if-column-index}}
              {{/each}}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="container-fluid">
            <div class="row">
              {{#each metrics}}
                {{#if-column-index 3 @index 1}}
                  {{> metric}}
                {{/if-column-index}}
              {{/each}}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="container-fluid">
            <div class="row">
              {{#each metrics}}
                {{#if-column-index 3 @index 2}}
                  {{> metric}}
                {{/if-column-index}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>