<div class="row">
  <div class="col-md-12">
    <h1>Your Applications <a href="applications/add" class="btn btn-primary mdi-content-add"></a></h1>
  </div>
</div>
<div class="row">
  {{#each apps}}
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <label for="">Application Name</label>
          <p>{{appName}}</p>
          <label for="">API Key</label>
          <p>{{apiKey}}</p>
          <a href="applications/{{_id}}/edit" class="btn btn-default">Edit</a>
          <a href="applications/{{_id}}/dashboard" class="btn btn-primary">Dashboard</a>
        </div>
      </div>
    </div>
  {{else}}
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          You don't have any applications yet.
          <a href="applications/add" class="btn btn-primary">Add one now</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>